<div class="share-buttons">
  <a class="discord-share-button"
      href="https://discord.com"
      title="Share on Discord"
      data-url="{{ .Permalink }}"
      data-text="{{ .Title }}"><i class="fab fa-discord"></i></a>

  <a class="twitter-share-button"
      href="#"
      title="Share on Twitter"
      data-url="{{ .Permalink }}"
      data-text="{{ .Title }}"><i class="fab fa-twitter"></i></a>

  <a class="facebook-share-button"
      href="#"
      title="Share on Facebook"
      data-url="{{ .Permalink }}"
      data-text="{{ .Title }}"><i class="fab fa-facebook"></i></a>      
</div>
